:root {
    --link-color: #212121;
    --link-text: "Roboto" , sans-serif;

}

/* header section */
.header-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;

}
/* general style */
.text-blue{
    color: blue;
}

.text-black{
    color: black;
}



nav li a {
    color: black;

}

nav li a:hover {
    color: blue;
}

.main-navigation {
    font-family: var(--link-text);
    weight: 500;
    text-decoration: none;
}

.mail {
    color: #2196F3;
}

/* logo section */

.logo-container {

}
.logo-container span:first-child {
    font-style: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">;
    font-weight: 700;
    font-size: 26px;
    line-height: 30,52px;
}
.logo-container span:last-child {
  font-style: <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">;
  font-weight: 400;
  font-size: 26px;
  line-height: 35,96px;
}

a {
 color: black;
}

a:hover {
    color: blue;
}

/* Portofolio */
:root {
    --link-text: "Roboto", sans-serif;
    --heading-font-family:"Raleway", sans-serif;
    --link-background-color: #ffffff;
    --link-hover-color:#2196F3;
    --link-title-color:#212121;
    --link-paragraph-contacts-color:#757575;
}
.text-blue {
    font-style: <link rel="preconnect" href="https://fonts.googleapis.com" > <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet" >;
    color: #2196F3;

}

.text-black {
    font-style: <link rel="preconnect" href="https://fonts.googleapis.com" > <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet" >;
    color:#000000;
}

.top-logo {
    text-decoration: none;
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 3%;
}


.nav-container {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    
}
  
    

.nav-contact {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 2%;
}

.header-container {
    max-width: 1600px;
    width: 100%;
    border-bottom: 1px solid #ececec;
    height: 80px;
}
       
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
}

/* main section */
.main-block {
    box-sizing: border-box;
}

.products-container {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;   
}

.cards-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
    margin-left: -10px;
    margin-top: -10px;
}

.img li {
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: calc((100% - 30px) /3 );
}

.buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--link-background-color);
    cursor: pointer;
    border: none;
    list-style: none;
}

.buttons-section li a:hover {
    background-color: var(--link-hover-color);
    color: var(--link-background-color);
    margin-inline: 3px;
}

.buttons-section a {
    color: var(--link-title-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding: 5px 10px;  
}

.cards-section h3 {
   color: var(--link-title-color); 
   font-size: 18px;
   font-style: var(--link-text);
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 1.08px;
}

.cards-section p {
   color: var(--link-paragraph-contacts-color);
   font-size: 16px;
   font-style: var(--link-text);
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0.48px;
}

/* contact adress */



























.main-block {
    display: inline;
    width: 1170px;
    height: 1360px;
    top: 174px;
    left: 215px;
}